version: "3.9"
services:
  # PC Node (Port 3000-3001)
  node-api:
    build: ./nodejs
    ports:
      - "0.0.0.0:3000:3000"
    environment:
      - PORT=3000
    hostname: web-api-node
    restart: unless-stopped

  python-api:
    build: ./python
    ports:
      - "0.0.0.0:3001:3001"
    hostname: web-api-python
    restart: unless-stopped
